{namespace t=TYPO3\TYPO3\ViewHelpers}
<f:layout name="Frontend" />

<f:section name="Content">
	<div class="row-fluid">
		<div class="span6">
			<legend>W:Kanban</legend>
			<p>
				This project stated from a personal idea to learn something about TYPO3 Flow. The main goal for this project is
				self-improvement. Features are not important, but the technical quality is. Domain-driven design and test-driven
				development are patterns which the development of TYPO3 Flow followed. This project follows the same techniques.
			</p>
			<legend>Features</legend>
			<ul>
				<li>Create a Kanban board</li>
				<li>Create and delete (sub) columns</li>
				<li>Create, edit, delete, archive Tickets</li>
				<li>Switch tickets between columns</li>
				<li>Responsive layout</li>
				<li>Test coverage 100% for models</li>
				<li>Test coverage over 90% for business logic</li>
				<li>Recursive column structure(infinite nestable)</li>
			</ul>
			<h5>Planned features</h5>
			<ul>
				<li>Boards should be deletable</li>
				<li>Multi-language support</li>
				<li>Swim lanes</li>
				<li>Drag and drop for tickets</li>
				<li>File upload for tickets</li>
				<li>Detailed statistics</li>
				<li>TYPO3 Neos Plugin</li>
			</ul>
		</div>
		<div class="span5">
			<legend>Changelog</legend>
			<h4>v0.2</h4>
			<p><strong>Note</strong><br/>
				This version is incompatible to the previous. The major refactoring of the domain models to
				get a future proof structure would require a huge migration. Because the previous version(v0.1) was no public release
				this would be a waste of time.</p>
			<p>2012-12-12</p>
			<ul>
				<li>Major refactoring domain models</li>
				<li>Unit-tests for Models</li>
				<li>Functional-tests for Models</li>
				<li>Functional-tests for Services</li>
				<li>Bugfix for column sort</li>
				<li>Controller and templates for sub-columns</li>
				<li>Refactoring templates</li>
			</ul>
			<h4>v0.1</h4>
			<p>2012-10-31</p>
			<ul>
				<li>Dedicated Flow Application</li>
				<li>Basic data structure(Board, SuperiorColumn, SubColumn, Ticket)</li>
				<li>Controllers for each Model for basic CRUD operations</li>
				<li>Services for the Models which contain further logic(business logic)</li>
				<li>Twitter Bootstrap integration</li>
				<li>Templates for business logic</li>
				<li>Basic Routing settings</li>
			</ul>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<legend>Licence</legend>
			<h4>
				GPLv3
			</h4>
			<p>
				Witte:Kanban is a simple TYPO3 Flow Application which provides Kanban boards with multiple columns and tickets.<br/>
				Copyright (C) 2012 Matthias Witte<br/>
				<a href="http://www.matthias-witte.net/">http://www.matthias-witte.net/</a>
			</p>
			<p>
				This program is free software; you can redistribute it and/or modify
				it under the terms of the GNU General Public License as published by
				the Free Software Foundation; either version 3 of the License, or
				(at your option) any later version.<br/>
				This program is distributed in the hope that it will be useful,
				but WITHOUT ANY WARRANTY; without even the implied warranty of
				MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
				GNU General Public License for more details.<br/>
				You should have received a copy of the GNU General Public License
				along with this program; if not, write to the Free Software Foundation,
				Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301  USA
			</p>
			<p style="text-align: center;">
				<strong>Twitter Bootstrap</strong><br/>
				Designed and built with all the love in the world by @mdo and @fat.
				Code licensed under Apache License v2.0, documentation under CC BY 3.0.
				Glyphicons Free licensed under CC BY 3.0.
			</p>
		</div>
	</div>

</f:section>