{namespace t=TYPO3\TYPO3\ViewHelpers}
<f:layout name="Frontend" />

<f:section name="Content">
	<div class="row-fluid">
		<div class="span12">
			<div class="well well-large">
				<legend><f:translate id="base.getStarted"/></legend>
				<p>
					<a class="btn btn-primary" data-toggle="modal" href="#createBoard"><f:translate id="board.create.new"/></a>
				</p>
				<p>
					<f:translate id="board.create.new"/>
				</p>
			</div>
			<div class="well well-large">
				<legend><f:translate id="wittekanban.name"/></legend>
				<p>
					<f:link.action action="about" class="btn btn-primary"><f:translate id="base.project.info"/></f:link.action>
				</p>
				<p>
					<f:translate id="base.project.getInfo"/>

				</p>
			</div>
		</div>
	</div>
	<f:render partial="Board/NewDialog"/>
</f:section>