{namespace t=TYPO3\TYPO3\ViewHelpers}
<f:layout name="Frontend" />

<f:section name="Content">
	<div class="row-fluid">
		<div class="span12">
			<div class="well well-large">
				<legend>Get started!</legend>
				<p>
					<a class="btn btn-primary" data-toggle="modal" href="#createBoard">Create a new Kanban board</a>
				</p>
				<p>
					Create your new Kanban board
				</p>
			</div>
			<div class="well well-large">
				<legend>W:Kanban</legend>
				<p>
					<f:link.action action="about" class="btn btn-primary">Project info</f:link.action>
				</p>
				<p>
					Get some information about the W:Kanban project
				</p>
			</div>
		</div>
	</div>
	<f:render partial="Board/NewDialog"/>
</f:section>