{namespace t=TYPO3\TYPO3\ViewHelpers}
<f:layout name="Frontend" />

<f:section name="Content">
	<div class="row-fluid">
		<div class="span12">
			<legend>Edit the board columns</legend>
			<div class="row-fluid">
				<f:for each="{board.columns}" as="column" iteration="iterator">
					<f:render partial="BoardGrid/EditColumn" arguments="{column: column, board: board, iterator: iterator}"/>
				</f:for>
			</div>
		</div>
	</div>


	<div class="row-fluid">
		<f:form action="update" controller="Board" object="{board}" name="board" class="form-horizontal">
			<legend>Edit the board properties</legend>
			<div class="control-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<f:form.textfield property="title" id="title" />
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<f:link.action class="btn" action="show" controller="Board" arguments="{board: board}">
						Back
					</f:link.action>
					<f:form.submit value="Save" class="btn btn-success" />
				</div>
			</div>
		</f:form>
	</div>
</f:section>