<div class="row-fluid">

	<div class="page-header">
		<h3>W:Kanban Project:</h3>
	</div>
	<h4>Progress until v0.1</h4>
	<div class="progress progress-striped active">
		<div class="bar" style="width: 35%;"></div>
	</div>
	<h4>Progress until v0.3(stable usable)</h4>
	<div class="progress progress-striped active">
		<div class="bar" style="width: 15%;"></div>
	</div>
	<h4>Todo v0.1 (basic functionality):</h4>
	<ul>
		<li>
			Administration workflow
			<ul>
				<li>Adding SuperiorColumns</li>
				<li>Editing SuperiorColumns</li>
				<li>Deleting SuperiorColumns</li>
				<li>Adding SubColumns</li>
				<li>Editing SubColumns</li>
				<li>Deleting SubColumns</li>
			</ul>
		</li>
		<li>
			Productive workflow
			<ul>
				<li>Create Tickets</li>
				<li>Edit Tickets</li>
				<li>Delete Tickets</li>
				<li>Switch the Ticket's Column</li>
			</ul>
		</li>
	</ul>
	<h4>Todo v0.2 (usable):</h4>
	<ul>
		<li>Refactoring Controllers</li>
		<li>Refactoring Templates</li>
		<li>Refactoring redirects</li>
	</ul>
	<h4>Todo v0.3 (quality):</h4>
	<ul>
		<li>Unit tests for models</li>
		<li>Unit/Functional tests for services</li>
		<li>Documentation</li>
	</ul>
	<h4>Done:</h4>
	<ul>
		<li>Create new Application</li>
		<li>Create data structure(Board, SuperiorColumn, SubColumn, Ticket)</li>
		<li>Remove logic from models and controllers to dedicated services</li>
		<li>Remove Neos backend module, refactor to stand-alone application</li>
		<li>Create basic routes</li>
		<li>Basic Layout</li>
		<li>TwitterBootstrap integration</li>
	</ul>
	<p>
		<small>This list exists because W:Kanban is not ready yet ;)</small>
	</p>
</div>