
<legend>W:Kanban</legend>
<p>This project stated from a personal idea to learn something about TYPO3 Flow.</p>
<legend>Features</legend>
<ul>
	<li>Create a Kanban board</li>
	<li>Create and delete columns</li>
	<li>Create, edit, delete, archive Tickets</li>
	<li>Switch tickets between columns</li>
	<li>Responsive layout</li>
</ul>
<h5>Planned features</h5>
<ul>
	<li>Create and delete sub columns</li>
	<li>Multi-language support</li>
	<li>Swim lanes</li>
	<li>Drag and drop for tickets</li>
	<li>Fileupload for tickets</li>
	<li>Detailed statistics</li>
</ul>
<legend>Changelog</legend>
<h4>v0.2</h4>
<p><strong>Note</strong><br/>
This version is incompatible to the previous. The major refactoring of the domain models to
get a future proof structure would require a huge migration. Because the previous version was no public release(v0.x)
there is no migration from v0.1 to v0.2</p>
<strong>Done</strong>
<ul>
	<li>Major refactoring domain models</li>
</ul>
<strong>To be done:</strong>
<ul>
	<li>Unit-tests for Models</li>
	<li>Unit-tests for Services</li>
	<li>Functional-tests for Services</li>
	<li>Controller and templates for sub-columns</li>
	<li>Refactoring templates</li>
</ul>
<h4>v0.1</h4>
	<p>2012-10-31</p>
<ul>
	<li>Dedicated Flow Application</li>
	<li>Basic data structure(Board, SuperiorColumn, SubColumn, Ticket)</li>
	<li>Controllers for each Model for basic CRUD operations</li>
	<li>Services for the Models which contain further logic(business logic)</li>
	<li>Twitter Bootstrap integration</li>
	<li>Templates for business logic</li>
	<li>Basic Routing settings</li>
</ul>

<legend>Licence</legend>
<p style="text-align: center;">
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
		<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" />
	</a><br />
	<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Witte.Kanban</span> by
	<a xmlns:cc="http://creativecommons.org/ns#" href="http://www.matthias-witte.net" property="cc:attributionName" rel="cc:attributionURL">
		Matthias Witte
	</a> is licensed under a
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">
		Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License
	</a>.
</p>
<p style="text-align: center;">
	<strong>Twitter Bootstrap</strong><br/>
	Designed and built with all the love in the world by @mdo and @fat.
	Code licensed under Apache License v2.0, documentation under CC BY 3.0.
	Glyphicons Free licensed under CC BY 3.0.
</p>