
	<legend>Project progress</legend>
	<h5>Progress until v0.1</h5>
	<div class="progress progress-striped active">
		<div class="bar" style="width: 66%;"></div>
	</div>
	<h5>Progress until v0.3(stable usable)</h5>
	<div class="progress progress-striped active">
		<div class="bar" style="width: 50%;"></div>
	</div>
	<legend>Todo v0.1 (basic functionality)</legend>
	<ul>
		<li>
			Administration workflow
			<ul>
				<li>Editing SuperiorColumns</li>
				<li>Adding SubColumns</li>
				<li>Editing SubColumns</li>
				<li>Deleting SubColumns</li>
			</ul>
		</li>
		<li>
			Productive workflow
			<ul>
				<li>Edit Tickets</li>
				<li>Delete Tickets</li>
			</ul>
		</li>
	</ul>
	<legend>Todo v0.2 (usable):</legend>
	<ul>
		<li>Refactoring Controllers</li>
		<li>Refactoring Templates</li>
		<li>Refactoring redirects</li>
	</ul>
	<legend>Todo v0.3 (quality):</legend>
	<ul>
		<li>Unit tests for models</li>
		<li>Unit/Functional tests for services</li>
		<li>Documentation</li>
	</ul>
	<legend>Done:</legend>
	<ul>
		<li>Create new Application</li>
		<li>Create data structure(Board, SuperiorColumn, SubColumn, Ticket)</li>
		<li>Remove logic from models and controllers to dedicated services</li>
		<li>Remove Neos backend module, refactor to stand-alone application</li>
		<li>Create basic routes</li>
		<li>Basic Layout</li>
		<li>TwitterBootstrap integration</li>
		<li>
			Productive workflow
			<ul>
				<li>Create Board</li>
				<li>Create Tickets</li>
				<li>Switch the Ticket's Column</li>
			</ul>
		</li>
		<li>
			Administration workflow
			<ul>
				<li>Adding SuperiorColumns</li>
				<li>Deleting SuperiorColumns</li>
			</ul>
		</li>
	</ul>
	<p>
		<small>This list exists because W:Kanban is not ready yet ;)</small>
	</p>