<div id="createBoard" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createBoardLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="createBoardLabel">Create a new board</h3>
	</div>
	<f:form action="create" controller="Board" name="newBoard" class="form-horizontal">
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<f:form.textfield property="title" id="title" />
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal">Close</button>
			<f:form.submit value="Create" class="btn btn-primary" />
		</div>
	</f:form>
</div>