{namespace t=TYPO3\TYPO3\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="Content">
	<f:form action="update" object="{project}" name="project">
		<div class="row t3-module-container">
			<fieldset class="span10">
				<legend>Edit project</legend>

				<div class="control-group">
					<label class="control-label">Title</label>
					<div class="controls">
						<f:form.textfield property="title" id="title" />
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">Description</label>
					<div class="controls">
						<f:form.textarea rows="5" property="description" id="description" />
					</div>
				</div>
			</fieldset>
		</div>
		<div class="form-actions form-footer">
			<f:link.action class="btn t3-button" action="index">Back</f:link.action>
			<f:form.submit class="btn btn-primary t3-button" value="Update"/>
		</div>
	</f:form>
</f:section>