{namespace t=TYPO3\TYPO3\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="Content">
	<div class="row t3-module-container">
		<div class="span11">
			<legend>List of projects
			</legend>
			<div class="row-fluid" style="border-bottom: 1px solid #999; padding: 10px 0;">
			<div class="span2">
				<label class="control-label">Name</label>
			</div>
			<div class="span5">
				<label class="control-label">Description</label>
			</div>
			<div class="span2">
				<label class="control-label">Created</label>
			</div>
			<div class="span3">
				<label class="control-label">Actions</label>
			</div>
			</div>
			<f:if condition="{projects}">
				<f:then>
					<f:for each="{projects}" as="project">
						<div class="row-fluid" style="border-bottom: 1px solid #999; padding: 10px 0;">
							<div class="span2">
								<f:link.action action="show" arguments="{project: project}">
									<f:format.crop maxCharacters="50">
										{project.title}
									</f:format.crop>
								</f:link.action>
							</div>
							<div class="span5">
								<f:format.crop maxCharacters="260">
									{project.description}
								</f:format.crop>
							</div>
							<div class="span2">

								<f:format.date format="d.m.Y - H:i">{project.created}</f:format.date>
							</div>
							<div class="span3">
								<f:link.action class="btn btn-primary t3-button" action="show" arguments="{project: project}">
									<i class="icon-info-sign icon-white"></i> Show
								</f:link.action>
								<f:link.action class="btn btn-warning t3-button" action="edit" arguments="{project: project}">
									<i class="legend icon-pencil icon-white"></i> Edit
								</f:link.action>
								<f:link.action class="btn btn-danger t3-button" action="delete" arguments="{project: project}">
									<i class="icon-trash icon-white"></i> Delete
								</f:link.action>
							</div>
						</div>
					</f:for>
				</f:then>
				<f:else>
					<p>No projects created yet.</p>
				</f:else>
			</f:if>
		</div>
	</div>
	<div class="form-actions form-footer">
		<a class="btn t3-button" href="http://neos.local/neos/management">Back</a>
		<f:link.action class="btn btn-primary t3-button" action="new">Create a new project</f:link.action>
	</div>
</f:section>