{namespace t=TYPO3\TYPO3\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="Content">
	<div class="row t3-module-container">
		<div class="span11">
			<legend>Project
			</legend>
			<br>
			<p>
				<label>Title</label>
				{project.title}
			</p>
			<p>
				<label>Created</label>
				<f:format.date format="d.m.Y - H:i">{project.created}</f:format.date>
			</p>
			<p>
				<label>Description</label>
				{project.description}
			</p>


		</div>
	</div>
	<div class="form-actions form-footer">
		<f:link.action class="btn t3-button" action="index">Back</f:link.action>
	</div>
</f:section>