<div class="span{column.columnWith -> f:format.number(decimals: 0)}">
	<div class="row-fluid">
		<h4>{column.title}</h4>
		<f:if condition="{column.limitValue} != 0">
			{column.limitValue}
		</f:if>
	</div>
	<div class="row-fluid">
		<f:if condition="{column.subColumns -> f:count()} > 0">
			<f:then>
				<f:for each="{column.subColumns}" as="subColumn">
					<f:render partial="BoardGrid/Column" arguments="{column: subColumn}"/>
				</f:for>
			</f:then>
			<f:else>
				<f:for each="{column.tickets}" as="ticket">
					<f:render partial="BoardGrid/Ticket" arguments="{ticket: ticket}"/>
				</f:for>
			</f:else>
		</f:if>
	</div>
</div>