<div class="span{column.columnWith -> f:format.number(decimals: 0)}">
	<div class="span9">
	<div class="row-fluid">
		<h4>{column.title}</h4>
		<f:if condition="{column.limitValue} != 0">
			{column.limitValue}
		</f:if>
		<f:if condition="{column.isFirst} != {column.isLast}">
			<f:else>
				<div class="btn-group">
					<a class="btn dropdown-toggle btn-danger" data-toggle="dropdown" rel="tooltip" data-placement="top" data-original-title="Deletes all sub-columns, tickets are pushed to the next column left-sided" href="#">
						<i class="icon-trash icon-white"></i> Delete
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<f:link.action controller="Column" action="delete" arguments="{column: column}">
								Confirm
							</f:link.action>
						</li>
					</ul>
				</div>
			</f:else>
		</f:if>

		<f:if condition="{column.subColumns -> f:count()}">
			<f:then>
				<div class="row-fluid">
				<f:for each="{column.subColumns}" as="subColumn">
					<f:render partial="BoardGrid/EditColumn" arguments="{column: subColumn, iterator: iterator}"/>
				</f:for>
				</div>
			</f:then>
			<f:else>
				<f:render partial="BoardGrid/NewColumn" arguments="{column: column, iterator: iterator}"/>
			</f:else>
		</f:if>

	</div>
	</div>
	<div class="span3">
		<f:if condition="{column.isLast} != 1">

			<f:render partial="BoardGrid/NewColumn" arguments="{after: 'after', column: column, board: board, iterator: iterator}"/>
		</f:if>
	</div>

</div>