<div class="well well-small ticket-box">
	<h6>
		<f:link.action action="show" controller="Ticket" arguments="{ticket: ticket}">
			<i class="icon-eye-open"></i> {ticket.title}
		</f:link.action>
		<f:link.action class="btn btn-mini pull-right" action="edit" controller="Ticket" arguments="{ticket: ticket}">
			<i class="icon-pencil"></i>
		</f:link.action>
	</h6>
	<div class="row-fluid">



	</div>
	<f:if condition="{ticket.column.isFirst} != 1">
		<f:link.action class="btn btn-small" action="moveToPreviousColumn" controller="Ticket" arguments="{ticket: ticket}">
			<i class="icon-arrow-left"></i>
		</f:link.action>
	</f:if>
	<f:if condition="{ticket.column.isLast} != 1">
		<f:link.action class="btn btn-small pull-right" action="moveToNextColumn" controller="Ticket" arguments="{ticket: ticket}">
			<i class="icon-arrow-right"></i>
		</f:link.action>
	</f:if>
	<div class="row-fluid ticket-box-description">
		<p>
			<f:format.nl2br>{ticket.description}</f:format.nl2br>
		</p>
		<div class="row-fluid">
			<dl class="dl-horizontal">

				<f:if condition="{ticket.column.isFirst} == 1">
					<dt>created:</dt>
					<dd><f:format.date>{ticket.created}</f:format.date></dd>
				</f:if>
				<f:if condition="{ticket.column.isFirst} != {ticket.column.isLast}">
					<f:else>
						<dt>started: </dt>
						<dd><f:format.date>{ticket.started}</f:format.date></dd>
					</f:else>
				</f:if>
				<f:if condition="{ticket.column.isLast} == 1">
					<dt>created:</dt>
					<dd><f:format.date>{ticket.created}</f:format.date></dd>
					<dt>started: </dt>
					<dd><f:format.date>{ticket.started}</f:format.date></dd>
					<dt>finished: </dt>
					<dd><f:format.date>{ticket.moved}</f:format.date></dd>
				</f:if>
				<f:if condition="{ticket.version}">
					<dt>version: </dt>
					<dd>{ticket.version}</dd>
				</f:if>
			</dl>
			<f:if condition="{ticket.column.isLast} == 1">
			<f:link.action class="btn btn-small btn-inverse pull-right" action="archiving" controller="Ticket" arguments="{ticket: ticket}">
				<i class="icon-folder-open icon-white"></i> Archive
			</f:link.action>
			</f:if>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
