<div class="well well-small">
	<h6>
		<f:link.action action="show" controller="Ticket" arguments="{ticket: ticket}">
			{ticket.title}
		</f:link.action>
	</h6>
	<div class="row-fluid">

		<f:if condition="{subColumn.isFirst} == 1">
			<small class="pull-right">created: <f:format.date>{ticket.created}</f:format.date></small>
		</f:if>
		<f:if condition="{subColumn.isFirst} != {subColumn.isLast}">
			<f:else>
				<small class="pull-right">started: <f:format.date>{ticket.started}</f:format.date></small>
			</f:else>
		</f:if>
		<f:if condition="{subColumn.isLast} == 1">
			<div class="row-fluid">
			<small class="pull-right">created: <f:format.date>{ticket.created}</f:format.date></small><br/>
			<small class="pull-right">started: <f:format.date>{ticket.started}</f:format.date></small><br/>
			<small class="pull-right">finished: <f:format.date>{ticket.moved}</f:format.date></small>
			</div>
		</f:if>

	</div>
	<p>
		<f:format.nl2br>{ticket.description}</f:format.nl2br>
	</p>
	<f:if condition="{subColumn.isFirst} != 1">
		<f:link.action class="btn" action="moveToPreviousSubColumn" controller="Ticket" arguments="{ticket: ticket}">
			«
		</f:link.action>
	</f:if>
	<f:if condition="{subColumn.isLast} != 1">
		<f:link.action class="btn pull-right" action="moveToNextSubColumn" controller="Ticket" arguments="{ticket: ticket}">
			»
		</f:link.action>
	</f:if>
	<div class="clearfix"></div>
</div>
